@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.footer-container{
    padding: 100px;
    margin: auto;
    height: 250px;
    display: flex;
    background-color: #4dc3ff;
    opacity: 0.5;
}

.footer-rows{
    width: 220px;
}

.footer-rows-x2{
    width: 450px;
}

.main-font{
    font-size: 24px;
    text-align: left;
    font-family: "nunito";
}
.minor-font{
    font-size: 20px;
    text-align: left;
    font-family: "open sans";
}